<form action="/p" method="post" class="creator">
  <p>
    <input type="text" name="project[title]" value="" id="project_title" size="30" />
    <input type="submit" name="submit" value="Create Project" />
  </p>
</form>

<ul id="projects" class="list">
  <% projects.each do |project| %>
    <%= partial('project', :project => project) %>
  <% end %>
</ul>