*                 {margin:0; padding:0;}
body              {font:13px/1.5 "Lucida Grande", Lucida, Arial, sans-serif; color:#333;}
a:link,           
a:visited         {color:#069;}
a:hover           {background:#069; color:#fff;}
h3                {margin:40px 0 0; font-size:13px; text-transform:uppercase; border-bottom:1px solid #E8F1F6; color:#069;}
form.creator      {margin:0 0 10px; padding:10px; border:1px solid #C8DEE9; background:#E8F1F6;}

div.errorExplanation        {margin:0 0 20px; padding:0 15px; border:1px solid #911; background:#fff;}
div.errorExplanation h2     {background:#911; color:#fff; margin:0 -15px; padding:7px 15px; font-size:13px; line-height:1; font-weight:normal;}
div.errorExplanation ul     {margin:10px 0 10px 25px;}
div.errorExplanation ul li  {}

#wrapper          {margin:50px auto; padding:0; width:350px;}
/*#todos li         {cursor:move;}*/

ul.list           {margin:0; padding:0;}
ul.list li        {margin:0; padding:5px 10px; list-style-type:none; border-bottom:1px solid #E8F1F6;}
ul.list a.delete  {float:right; display:inline; margin:2px 0 0; font-size:10px;}
/*input.complete    {margin:0 5px 0 0;}*/
/*#completed        {color:#999;}*/

div.loading       {position:absolute; top:0; right:10px; width:90px; margin:0; padding:5px 0; border:solid #C8DEE9; border-width:0 1px 1px; background:#E8F1F6; color:#333; text-align:center; line-height:1;}